// GLOBAL //

.main-page {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.row {
  display: flex;
}

.open-hours,
.carusel,
.gallery-wrapper,
.instagram {
  flex: 0 0 100%;
}

// LINK AND OPEN //
.link {
  flex: 0 0 49.5%;
  margin-bottom: 5px;
  height: 110px;
  border-radius: $radius;
  position: relative;
}

.link-order {
  background: url("../../images/main/pizza-1.jpg");
  margin-right: 0.5%;
}

.link-booking {
  background: url("../../images/main/pizza-2.jpg");
  margin-left: 0.5%;
}

.link-order,
.link-booking {
  a {
    text-decoration: none;
    font-size: 24px;
    letter-spacing: -1px;
    font-family: $font-header;
    font-weight: 700;
    @include after_box();
    transition: linear 1s;
  }

  p {
    opacity: 0;
  }

  &:hover a {
    text-decoration: none;
    font-size: 24px;
    letter-spacing: -1px;
    font-family: $font-header;
    font-weight: 700;
    @include after_box_hover_a();
  }

  &:hover p {
    opacity: 100;
    color: $color-light;
    font-size: 8px;
    @include after_box_hover_p();
  }
}

.open-hours {
  border-radius: $radius;
  background-color: $color-main;

  p:first-child {
    font-size: 26px;
    letter-spacing: -1px;
    color: $color-light;
    font-family: $font-header;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  p:last-child {
    margin-top: 0;
    font-size: 14px;
    color: $color-light;
    font-family: $font-text;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }
}

// CARUSEL //
.carusel-slaider {
  flex: 0 0 68.5%;
}

.carusel-text {
  height: 160px;
  padding: 0 $base-size * 2;
  text-align: justify;
  position: relative;
}

.opinion {
  color: $color-slaider;
  font-size: 12px;
  opacity: 0;
  font-style: italic;
  padding: 15px;
  position: absolute;
  transition: linear 1s;

  &.active {
    opacity: 100;
  }
}

.carusel-option {
  padding: 0 30%;

  li {
    display: inline-block;
    border: 1px $color-slaider solid;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 5px;
  }

  .active {
    background-color: $color-slaider;
  }
}

// GALLERY //

.image-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.gallery-image {
  height: 160px;
  flex: 0 0 31.5%;
  margin: 3px 4px;
  position: relative;
  z-index: 0;

  img {
  height: 100%;
  width: 100%;
  border-radius: $radius;
  }

  i {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    color: $color-light;
    z-index: -1;
  }

  &:hover i {
    z-index: 2;
  }

  i:hover {
    color: $color-main;
  }

  .fa-share-alt {
    left: 55%;
    transform: translate(-45%);
  }

  .fa-heart {
    left: 45%;
    transform: translate(-55%);
  }

  &:hover::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    background: $color-dark;
    opacity: 0.3;
    z-index: 1;
  }
} 



.carusel {
  display: flex;
  margin: $base-size * 4 0;
}

.carusel-image {
  flex: 0 0 31.5%;

  img {
    height: 160px;
    width: 100%;
    border-radius: $radius;
  }
}

// INSTAGRAM //
.instagram a {
  line-height: 23px;
  color: $color-main;
  font-family: $font-text;
  font-weight: 400;
}