.main-page {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.row {
  display: flex;
}

.link {
  flex: 0 0 49.5%;
  margin-bottom: 5px;
  height: 110px;
  border-radius: $radius;
}

.link-order {
  background: url('../../images/main/pizza-1.jpg');
  margin-right: 0.5%;
}

.link-booking {
  background: url('../../images/main/pizza-2.jpg');
  margin-left: 0.5%;
}

.open-hours, .carusel, .gallery, .instagram {
  flex: 0 0 100%;
}

.open-hours {
  border-radius: $radius;
  background-color: $color-main;

  & p:first-child {
    font-size: 26px;
    letter-spacing: -1px;
    color: $color-light;
    font-family: $font-header;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  & p:last-child {
    margin-top: 0;
    font-size: 14px;
    color: $color-light;
    font-family: $font-text;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }
}

.row, .link, .open-hours, .carusel, .gallery, .instagram {
  border: 1px solid blue;
}